/* 导航栏 */
nav {
  width: 100%;
  height: 32px;
  background-color: black;
}
nav > div {
  width: 1100px;
  height: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-left {
  width: 480px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left li {
  float: left;
  font-size: 10px;
}
.nav-left a {
  color: aliceblue;
  padding: 0px 4px;
  border-right: 1px solid aliceblue;
}
.nav-left li:nth-last-child(1) a {
  border-right: none;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  width: 420px;
  height: 30px;
}
.nav-right li {
  float: left;
  font-size: 10px;
}
.nav-right li a {
  padding: 0px 8px;
  border-right: 1px solid aliceblue;
  color: aliceblue;
}
.nav-right li:nth-last-child(1) a {
  border-right: none;
}
.nav-right li:nth-last-child(2) a {
  border-right: none;
}
.nav-right li:nth-child(1) a {
  border-right: none;
}
.nav-right li:nth-last-child(1) {
  background-color: #666;
  height: 34px;
  line-height: 34px;
}
/* logo */

.logo {
  width: 1000px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 200px;
  height: 40px;
}
.all span {
  color: black;
}
.logo ul {
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.logo ul li:nth-child(1) {
  width: 75px;
  background-color: #ff8486;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.logo ul li:nth-child(1) a {
  color: #fff;
}
.logo ul li:nth-child(2) {
  width: 75px;
  background-color: #74c7ff;
  border-radius: 15px;
  text-align: center;
}
.logo ul li:nth-child(2) a {
  color: #fff;
}
.logo ul a {
  color: black;
}
.logo .search {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  background-color: #f0f0f0;
  border-radius: 15px;
}
.logo input:nth-child(1) {
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-left: 10px;
}
.logo input:nth-child(2) {
  width: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 15px;
}
.max-content {
  width: 100%;
  background-color: #f5f5f5;
}
/* 信息栏 */
.inform {
  width: 1100px;
  height: 70px;
  margin: 0 auto;

  line-height: 70px;
}
.inform {
  font-size: 14px;
}
/* 内容 */
.main {
  width: 1100px;

  height: 800px;
  margin: 0 auto;
}
.main .main-left {
  width: 440px;
 
  height: 100%;
  float: left;
}
.main-left .main-img {
  width: 100%;
  height: 440px;
  position: relative;
}
.main-img img {
  width: 100%;
  height: 100%;
 
  
}
/* 放大镜 */
.main-img span {
  width: 220px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  display: none;
}
/* 详情图栏 */
.main .list-main {
  width: 100%;
  height: 80px;

  position: relative;
}
/* 左右箭头 */
.main .list-arrow li {
  float: left;
  width: 30px;
  height: 30px;

  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: 1px solid #f5f5f5;
}
.main .list-arrow li:nth-child(1) {
  left: 1px;
  top: 25px;
}
.main .list-arrow li:nth-child(2) {
  right: 1px;
  top: 25px;
}
/* 列表图 */
.main .min-img {
 
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.main .all-minimg {
  position: relative;
  width: 380px;
  height: 100%;
  margin-left: 30px;
  overflow: hidden;
}
.main .min-img li {
  margin-top: 1px;
  float: left;
  width: 76px;
  height: 76px;
}
.min-img img {
  width: 76px;
  height: 76px;
  
}
/* 右边 */
.main-right {
  width: 660px;
  height: 100%;

  float: right;
}
/* 大图 */
.max-img{
  width: 660px;
  height: 660px;
  position: absolute;
  z-index: 2;
   
}
.max-img>div{
  /* width: 320px;
  height: 320px; */
  border: 2px solid green;
  z-index: 3;
 overflow: hidden;
  display: none;
  background-color: #fff;
  
}
.max-img img{
  width: 660px;
  height: 660px;
  position: relative;
}
.right-header li {
  font-size: 18px;
}
.right-header li i {
  font-size: 14px;
  color: red;
}
.right-header li span {
  font-size: 14px;
}
/* 价格 */
.right-price {
  min-height: 170px;
  width: 100%;
  background-color: silver;
  margin-top: 8px;
  position: relative;
  padding-top: 10px;
}
.right-price > i {
  font-size: 14px;
  color: black;
  margin-left: 5px;
}
.right-price > em {
  color: red;
  font-size: 18px;
  margin-left: 10px;
}
.right-price ul {
  position: absolute;
  top: 28px;
  left: 50px;
}
.right-price ul li {
  height: 20px;

  margin-top: 8px;
}
.right-price ul li em {
  color: red;
  border: 1px solid red;
  font-size: 10px;
  padding: 0 4px;
}
.right-price ul li span {
  font-size: 8px;
  margin-left: 10px;
}
/* 服务说明 */
.right-service {
  margin-top: 12px;
}
.right-service > em {
  font-size: 14px;
  margin-left: 5px;
}
.right-service span {
  font-size: 14px;
  border: 1px solid silver;
  margin-left: 20px;
  padding: 5px;
}
.right-service span i {
  font-size: 16px;
}
.right-service strong::before {
  content: "现货 ";
  font-size: 14px;
  color: red;
}
.right-service strong {
  margin-left: 15px;
  font-size: 14px;
}
/* 包邮 */
.right-express {
  margin-top: 15px;
  margin-left: 70px;
  min-height: 40px;
}
.right-express li {
  float: left;
  font-size: 14px;
  padding: 10px;
}
/* 商品编码 */
.right-code {
  margin-left: 5px;
  margin-top: 10px;
  height: 25px;
  border-bottom: 1px solid slategray;
}
.right-code li {
  float: left;
  font-size: 14px;
}
.right-code li:nth-child(2) {
  margin-left: 10px;
}
/* 分类 */
.right-category {
  margin-top: 30px;
}
.right-category li {
  display: flex;
  margin: 10px;
}
.right-category li em {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 10px;
  padding-top: 6px;
}
.right-category li span {
  font-size: 14px;
  border: 1px solid black;
  padding: 3px;
  align-items: center;
  margin: 0 5px;
}
.right-category li:nth-child(1) span {
  display: flex;
  margin-top: -10px;
}
.right-category li img {
  width: 35px;
  height: 35px;
}
.right-category li:last-child span {
  border: none;

  margin: 4px 2px;
  padding: 0;
  color: red;
}
/* 加入购物车 */
.right-shopping {
  height: 45px;
  display: flex;
  margin-left: 15px;
}
.right-shopping > div {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 45px;
  
}
.right-shopping > div input {
  display: block;
  width: 45px;
  height: 43px;
  border: 1px solid black;
  text-align: center;
  line-height: 43px;
  font-size: 20px;
  
}
.right-shopping > div span {
  width: 20px;
  height: 43px;
  border: 1px solid black;
  border-left: none;
}
.right-shopping > div span i {
  display: block;
  height: 21px;
  width: 20px;
  line-height: 19px;
  text-align: center;
}
.right-shopping > div span i:nth-child(1) {
  border-bottom: 1px solid black;
}

.right-shopping a {
  width: 150px;
  height: 45px;
  background-color: rgb(214, 142, 7);
  margin: 0 15px;
  color: #e5e5e5;
  line-height: 45px;
  text-align: center;
}
.right-shopping a:nth-child(3) {
  background-color: brown;
  margin-left: -5px;
}



/* 隐藏购物车 */
.commodity-shopping {
  background-color: rgb(184, 13, 13);
  width: 120px;
  height: 30px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  top: 15px;
  right: 220px;
  color: #e5e5e5;
  display: none;
}
.commodity-nav {
  width: 100%;
  height: 60px;
  border-top: 2px solid rgb(83, 83, 83);
  position: relative;
}
.commodity-nav ul {
  width: 580px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
/* 字体滑过改变颜色 */
.commodity-nav ul a {
  color: rgb(83, 83, 83);
  font-size: 18px;
}

/* 底栏 */
.max-bot {
  width: 100%;
  background-color: #f9f9f9;
}
.bot {
  position: relative;
  width: 1250px;
  height: 440px;
  margin: 0px auto;
  background-color: #f9f9f9;
}
.bot > ul {
  width: 1250px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.bot ul em {
  font-size: 16px;
  color: black;
  font-weight: normal;
}
/* 矢量图 */
.bot ul a i{
 
  
  font-size: 28px;
 color: rgb(177, 20, 20);
  border-radius: 50%;
 
}
/* 中间 */
.bot-middle {
  width: 1250px;
  height: 160px;
  margin: 0px auto;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

/* 中间左 */
.bot-middle ul {
  width: 950px;
  height: 100%;
  float: left;
  display: flex;
  justify-content: space-around;
}
.bot-middle ul li {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.bot-middle li i {
  margin-top: 5px;
}
.bot-middle em {
  font-size: 8px;
}
.bot-middle i {
  font-size: 8px;
}
/* 中间右 */
.bot-right {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-left: 1px solid #e5e5e5;
}
/* 矢量图 */
.bot-right em i{
  
  font-size: 20px;
}
.bot-right p {
  font-size: 12px;
}
.customer-service {
  display: block;
  width: 140px;
  height: 30px;
  background-color: #333333;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  color: #fff;
}
/* 底部下 */
.most-bot {
  width: 780px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.most-bot a:nth-child(1) img {
  width: 100px;
  height: 20px;
  margin-top: -20px;
}
.license img {
  width: 70px;
  height: 30px;
}
.most-bot > div {
  width: 660px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.most-bot > div > ul {
  float: right;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.most-bot li a {
  font-size: 8px;
  padding: 0 2px;
  border-right: 1px solid black;
}
.most-bot li:nth-last-child(1) a {
  border-right: none;
}

.most-bot em {
  font-size: 8px;
}
.license {
  width: 70px;
  height: 20px;
  position: absolute;
  bottom: 85px;
  right: 0px;
}
.license img {
  width: 70px;
  height: 20px;
}

/* 产品列表 */
.min-list {
  width: 480px;
  height: 380px;
  border: 1px solid black;
}
.min-list ul li {
  float: left;
  width: 120px;
  height: 30px;
  background-color: blue;
  margin: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
